<!DOCTYPE html>
<html>
<head>
    <title>User Cars</title>
</head>
<body>
    <h1>Assignment for Quadiro Technologies</h1>
    <h2>Available Cars</h2>
    <ul>
        <% cars.forEach(car => { %>
            <li><strong><%= car.carName %></strong>, <%= car.manufacturingYear %>, <%= car.price %></li>
        <% }) %>
    </ul>
</body>
</html>
